<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>

    <h1> Room: {{ room_id }} </h1>

    <input id="msg" type="text">
    <button onclick="sendMessage()"> Send </button>

    <ul id="messages"> </ul>

    <script>

        const roomId = "{{ room_id }}";

        // create a websocket connection 
        const socket = new WebSocket(
            "ws://" + window.location.host + "/ws/chat/" + roomId + "/"
        );

        // Receive Messages
        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            const li = document.createElement("li");
            li.textContent = data.message;

            document.getElementById("messages").appendChild(li);

        };

        // Send Messages
        function sendMessage(){
            const input = document.getElementById("msg");

            socket.send(JSON.stringify({
                message: input.value
            }));

            input.value = "";
        }


    </script>

</body>
</html>